<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>模块配置</title>
    <!-- <script src="js/useragent.js" type="text/javascript"></script> -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .col {

      }
    </style>
  </head>
  <body>
    <form action="" method="post">
        <div class="col">模块名称: <input type="text" placeholder="请输入模块名称" name="modle_name" /></div>
        <div class="col">SVN地址: <input type="text" placeholder="请输入对应模块地址" name="svn_add"/></div>
        <input type="submit" value="提交" />
        <input type="reset" value="重置" />
    </form>

  </body>
</html>
